// @include fontFace('PT Sans Narrow','PTSansNarrow/PTSansNarrowRegular', normal, normal);
// @include fontFace('PT Sans Narrow','PTSansNarrow/PTSansNarrowBold', bold, normal);

@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon/icomoon.eot?509l5u');
  src:  url('../../fonts/icomoon/icomoon.eot?509l5u#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon/icomoon.ttf?509l5u') format('truetype'),
    url('../../fonts/icomoon/icomoon.woff?509l5u') format('woff'),
    url('../../fonts/icomoon/icomoon.svg?509l5u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  // font-style: normal;
  // font-weight: normal;
  // font-variant: normal;
  // text-transform: none;
  // line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
