// import libs
@import "../../node_modules/normalize-scss/sass/normalize/import-now";

@import 'components/vars.scss';
@import 'components/mixins.scss';
@import 'components/fonts.scss';
@import 'components/scaffolding.scss';


header{
  position: absolute;
  top: 65px;
  left: 50%;  
  transform: translate(-50%);
  max-width: 1630px;
  width: 100%;
  padding: 0 15px;
  z-index: 50;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  &__logo{
    margin-right: 70px;
  }
  &__phone{
    position: relative;
    color: $grey;
    padding-left: 20px;
    font-weight: 400;
    &:before{
      display: block;
      position: absolute;
      content: "\e942";
      font-family: 'icomoon';
      display: block;
      width: 12px;
      height: 12px;
      left: 0;
      top: 2px;
      font-size: 12px;
    }
  }
  &-right{
    display: flex;
    .buy-now{
      position: relative;
      padding-bottom: 2px;
      border-bottom: 1px solid rgba(#ffffff, .3);
      color: #fff;
    }
  }
  .burger{
    margin-left: 38px;
    div{
      width: 24px;
      height: 2px;
      background-color: #fff;
      & + div{
        margin-top: 3px;
      }
    }
  }
  &__menu{
    display: none;
  }
}
.intro{
  height: 100vh;
  width: 100%;
  display: flex;
  &-right{
    background: $red url("../img/MARSlogo.png") no-repeat right -50px;
    width: 38%;
    height: 100%;
  }
  &-left{
    width: 62%;
    height: 100%;
  }
  &__wrapper{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
  }
  &__tabs{
    display: flex;
    align-items: center;
    position: relative;
    .tabs{
      margin-right: 50px;
      margin-left: 37px;
    }
    .tab{
      width: 7px;
      height: 7px;
      background-color: #aaa;
      border: none;
      border-radius: 50%;
      transition: .4s;
      & + .tab{
        margin-top: 18px;
      }
      &.active{
        background-color: $red;
      }
    }
    .tab__content{
      position: relative;
      min-height: 650px;
      max-width: 500px;
      width: 100%;
    }
    .tab-item{
      display: none;
      opacity: 0;
      transition: .4s;
      height: 150px;
      width: 405px;
      position: absolute;
      z-index: 5;
      &:nth-child(1){top: 0;}
      &:nth-child(2){top: 158px;}
      &:nth-child(3){top: 316px;}
      &:nth-child(4){top: 414px;}
      &.active-tab{
        opacity: 1;
      }
      h3{
        font-size: 60px;
        font-weight: 700;
        color: #000;
        text-transform: uppercase;
      }
      p{
        font-size: 14px;
        line-height: 30px;
        font-weight: 400;
      }
    }
    .active-tab{
      display: block;
    }
  }
  &__dron{
    padding-top: 40px;
    position: relative;
    &::before{
      position: absolute;
      content:"";
      display: block;
      top: 0;
      left: 50%;
      transform: translatex(-50%);
      width: 650px;
      height: 650px;
      border-radius: 50%;
      background-color: #fff;
      z-index: -1;
    }
    img{
      max-width: 1035px;
      width: 100%;
      height: auto;
    }
  }
  .scroll-down{
    position: absolute;
    bottom: 0;
    left: -30px;
    font-weight: 700;
    font-size: 18px;
    color: #000;
    transform: rotate(-90deg);
    width: 150px;
  }
}

.features{
  position: relative;
  &-top{
    display: flex;
    min-height: 615px;
    position: absolute;
    width: 100%;
    max-width: 2000px;
    top: 0;
    left: 0;
    z-index: -1;
    &_left{
      width: 30%;
      background-image: url(../img/feat/feat-circle.png);
      @include back;
      display: flex;
      align-items: center;
      .features-top__content{
        max-width: 400px;
        width: 100%;
        min-height: 115px;
        margin-right: 0;
        margin-left: auto;
        h3{
          font-weight: 700;
          font-size: 60px;
          color: #000;
        }
        div{
          font-size: 14px;
          color: $grey;
          margin-top: 10px;
          font-weight: 400;
        }
      }
    }
    &_right{
      width: 70%;
      background-image: url(../img/feat/feat-map.png);
      @include back;
      overflow-x: hidden;
      &:hover{
        .slide{transform: translateX(0)}
      }
      .slide{
        max-width: 617px;
        width: 100%;
        min-height: 615px;
        background-color: rgba(#000, .65);
        transform: translateX(-617px);
        transition: .4s
      }
    }
    
  }
}

 

























@import 'components/media.scss';