// import libs
@import "../../node_modules/normalize-scss/sass/normalize/import-now";

@import 'components/vars.scss';
@import 'components/mixins.scss';
@import 'components/fonts.scss';
@import 'components/scaffolding.scss';


header{
  position: absolute;
  top: 65px;
  left: 50%;  
  transform: translate(-50%);
  max-width: 1630px;
  width: 100%;
  padding: 0 15px;
  z-index: 50;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  &__logo{
    margin-right: 70px;
  }
  &__phone{
    position: relative;
    color: $grey;
    padding-left: 20px;
    font-weight: 400;
    &:before{
      display: block;
      position: absolute;
      content: "\e942";
      font-family: 'icomoon';
      display: block;
      width: 12px;
      height: 12px;
      left: 0;
      top: 2px;
      font-size: 12px;
    }
  }
  &-right{
    display: flex;
    .buy-now{
      color: #fff;
      padding-bottom: 2px;
      border-bottom: 1px solid rgba(#ffffff, .3);
    }
  }
  .burger{
    margin-left: 38px;
    div{
      width: 24px;
      height: 2px;
      background-color: #fff;
      & + div{
        margin-top: 3px;
      }
    }
  }
  &__menu{
    display: none;
  }
}
.intro{
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  &__dron{
    position: absolute;
    display: none;
  }
  &__tabs{
    display: flex;
    align-items: center;
    // margin-top: 300px;
    .tabs{
      margin-right: 50px;
      margin-left: 37px;
    }
    .tab__content{
      position: relative;
      min-height: 650px;
      max-width: 500px;
      width: 100%;
    }
    .tab-item{
      display: none;
      opacity: 0;
      transition: .4s;
      height: 150px;
      width: 405px;
      position: absolute;
      &:nth-child(1){top: 0;}
      &:nth-child(2){top: 160px;}
      &:nth-child(3){top: 320px;}
      &:nth-child(4){top: 480px;}
      &.active-tab{
        opacity: 1;
      }
      h3{
        font-size: 60px;
        font-weight: 700;
        color: #000;
        text-transform: uppercase;
      }
      p{
        font-size: 14px;
        line-height: 30px;
        font-weight: 400;
      }
    }
    .active-tab{
      display: block;
    }
  }
  &__logo{
    background: $red url("../img/MARSlogo.png") no-repeat right -50px;
    width: 38%;
    height: 100%;
  }
  .scroll-down{
    position: absolute;
  }
}
.tab{
  width: 7px;
  height: 7px;
  background-color: #aaa;
  border: none;
  border-radius: 50%;
  transition: .4s;
  & + .tab{
    margin-top: 18px;
  }
  &.active{
    background-color: $red;
  }
}






























@import 'components/media.scss';